@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  font-family: 'Lunasima', sans-serif;
}

body{
  height: 100vh;
}

#root{
  width: 100%;
  height: 80%;
}

header{
  width: 100%;
  padding: 30px;
  color: #fff;
  background-color: #219ebc;
  display: flex;
  justify-content: center;
}

.App{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-field{
  position: relative;
  width: 60%;
  height: 100%;
  border: 1px solid black;
  margin-top: 30px;
  background-size: cover;
}

.prev-btn, .next-btn, .element-points{
  position: absolute;
}

.prev-btn{
  top: 50%;
  left: 1%;
}

.next-btn{
  top: 50%;
  left: 98%;
}

.element-points{
  top: 95%;
  left: 50%;
  display: flex;
}

.point{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 5px;
}

i{
  color: #fff; 
}

.active{
  border: 2px solid black ;
}